<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281207652582-sn1pdpfmivnuebjnr3ic7cm65j3dr5sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281207652582-sn1pdpfmivnuebjnr3ic7cm65j3dr5sq</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7y8MFozCJaGe5RC0-uUGuRv6oCPsvnY</string>
	<key>GCM_SENDER_ID</key>
	<string>281207652582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>flutter-dicoding-expert</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dicoding-expert.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281207652582:ios:d818af25be94473c403b27</string>
</dict>
</plist>